.loader {
  animation: rotateLoader 2s linear infinite; 
  display: block;
  margin: auto;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader circle {
  animation: pulseGlow 1.5s ease-in-out infinite;
}

@keyframes pulseGlow {
  0% {
    fill: #4640DE;
  }
  50% {
    fill: #5f6fe2; 
  }
  100% {
    fill: #4640DE;
  }
}

